body {
  background-color: #fbfeff;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-weight: 500;
}
li {
  list-style: none;
}
.mainContainer {
  background-image: url("../assets/be prepared bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-right: 10%;
  color: black;
}
.nav-links a {
  color: black;
  font-family: 500;
  font-size: 18px;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.menu li {
  padding: 5px 14px;
}
.Navbar-homePage {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-right: 10%;
  text-align: left;
}
.homePage-Leftside {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.homePage-Mainhead {
  font-size: 72px;
  font-weight: bolder;
  line-height: 92.16px;
}
.homePage-Normalhead {
  width: 65%;
  font-size: 22px;
  color: #5d616f;
  padding-top: 3%;
  font-weight: 500;
  line-height: 33px;
}
.homePage-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}
.homePage-buttons1 {
  background-color: #3e82fc; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
  margin-right: 5%;
  font-weight: 500;
  cursor: pointer;
}
.homePage-buttons2 {
  background-color: transparent;
  border-color: #3e82fc;
  border-style: solid;
  color: #3e82fc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
}
.Navbar-rightSide {
  width: 488px;
  height: 662px;
  padding-top: 7%;
  padding-left: 8%;
}
.Threethingslist {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  text-align: left;
  margin-top: 5%;
  /* box-shadow: 10px 10px lightblue; */
  box-shadow: 0px 54px 104px 0px #0000000a;

  /* padding: 10%; */
  /* background-color: #3E82FC; */
}
.Threethingslist1 {
  padding: 5%;
  width: 45%;
  /* background-color: #3E82FC; */
}
.Threethingslist1-head {
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}
.Threethingslist1-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 10px;
}
.Threethingslist2 {
  padding: 5%;
  /* width: 45%; */
}
.Threethingslist2-head {
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}
.Threethingslist2-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 10px;
}
.Threethingslist3 {
  padding: 5%;
  /* width: 45%; */
}
.Threethingslist3-head {
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}
.Threethingslist3-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 10px;
}
.Threethingslist1-Link {
  text-decoration: underline;
  color: #FE2C54;
  cursor: pointer;
  font-size: 18px;
}
.Explore {
  padding: 5%;
  padding-bottom: 10%;
  font-size: 18px;
  color: #5D616F;
}
.Explore-italics {
  font-weight: 700;
  color: #FE2C54;
  cursor: pointer;
}
.safeandaffordablebg {
  background-image: url("../assets/safe\ and\ affordable\ bg.png");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
.safeandaffordablebg-homePage {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  /* padding-top: 5%; */
  padding-bottom: 2%;
  padding-right: 10%;
  text-align: left;
}
.safeandaffordablebg-rightSide {
  width: 488px;
  height: 662px;
  /* padding-top: 7%; */
  /* padding-left: 8%; */
}
.safeandaffordablebg-Leftside {
  display: flex;
  flex-direction: column;
  padding-left: 12%;
  padding-top: 5%;
}
.safeandaffordablebg-Mainhead {
  font-size: 62px;
  font-weight: bolder;
  width: 85%;
  /* background-color: #3E82FC; */
}
.safeandaffordablebg-Normalhead {
  width: 55%;
  font-size: 22px;
  color: #5d616f;
  padding-top: 3%;
  font-weight: 500;
}
.safeandaffordablebg-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}
.safeandaffordablebg-buttons1 {
  background-color: #3e82fc; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
  margin-right: 5%;
  font-weight: 500;
  cursor: pointer;
}
.Explore-2 {
  padding: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  font-size: 18px;
}
.safeJourney {
  color: #3e82fc;
  font-weight: 500;
  font-size: 20px;
}
.Trustedbbc {
  font-size: 40px;
  font-weight: 600;
  padding: 1%;
}
.Companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
  /* background-color: #3E82FC; */
}
.Companies1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 7%;
  /* background-color: #3E82FC; */
}
.Companiesimg {
  padding-right: 7%;
  padding-bottom: 10%;
  /* background-color: #3E82FC; */
}
.Companiesimg4 {
  padding-right: 7%;
  padding-bottom: 10%;
  /* background-color: #3E82FC; */
  margin-top: 2px;
}
.Companiesimg1 {
  padding-bottom: 10%;
}
.Companiesimg3 {
  text-align: right;
  padding-bottom: 10%;
  padding-left: 23%;
  /* background-color: #3E82FC; */
}
.Companiesimg5 {
  text-align: left;
  padding-bottom: 10%;
  padding-left: 10%;
}
.Enjoylifenow {
  background-image: url("../assets/enjoy\ your\ life\ with\ us\ bg\ .png");
}
.Enjoylifenow-homePage {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  /* padding-top: 5%; */
  padding-bottom: 2%;
  padding-right: 10%;
  text-align: left;
}
.Enjoylifenow-Leftside {
  display: flex;
  flex-direction: column;
  /* padding-left: 12%; */
  padding-top: 7%;
}
.Enjoylifenow-rightSide {
  width: 488px;
  height: 662px;
  /* padding-top: 7%; */
  /* padding-left: 8%; */
}
.Enjoylifenow-Mainhead {
  font-size: 62px;
  font-weight: bolder;
  width: 75%;
  /* background-color: #3E82FC; */
}
.Enjoylifenow-Normalhead {
  width: 45%;
  font-size: 22px;
  color: #5d616f;
  padding-top: 3%;
  font-weight: 500;
}
.Enjoylifenow-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}
.Enjoylifenow-buttons1 {
  background-color: #3e82fc; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
  margin-right: 5%;
  font-weight: 500;
  cursor: pointer;
}
.letusenjoy {
  background-image: url("../assets/lets\ enjoy\ nature\ with\ us\ bg\ .png");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
.letusenjoy-homePage {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  /* padding-top: 5%; */
  padding-bottom: 2%;
  padding-right: 10%;
  text-align: left;
}
.letusenjoy-rightSide {
  width: 488px;
  height: 662px;
  /* padding-top: 7%; */
  /* padding-left: 8%; */
}
.letusenjoy-Leftside {
  display: flex;
  flex-direction: column;
  padding-left: 12%;
  padding-top: 6%;
}
.letusenjoy-Mainhead {
  font-size: 62px;
  font-weight: bolder;
  width: 90%;
  /* background-color: #3E82FC; */
}
.letusenjoy-Normalhead {
  width: 55%;
  font-size: 22px;
  color: #5d616f;
  padding-top: 3%;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}
.letusenjoy-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}
.letusenjoy-buttons1 {
  background-color: #3e82fc; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
  margin-right: 5%;
  font-weight: 500;
  cursor: pointer;
}
.Footer {
  background-color: #ecf3ff;
}
.Footer-matter {
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  /* width: 60%; */
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 8%;
}
.Footer-Header {
  font-size: 42px;
  font-weight: bolder;
  text-align: center !important;
}
.Footer-Content {
  padding: 5% 3% 5% 3%;
  font-size: 18px;
  font-weight: 400;
  color: #5d616f;
}
.Email {
  background-color: #3e82fc; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
  margin-right: 5%;
  font-weight: 500;
  cursor: pointer;
}
.Emailenter {
  overflow: hidden;
  padding-right: 0.5em;
}
input[type="text"] {
  display: block;
  /* outline: none */
  background-color: transparent;
  border-color: #3e82fc;
  color:#3e82fc ;
  border-style: solid;
  border-radius: 25px;
  margin-bottom: 0.3rem;
  height: 50px;
  width: 100%;
  margin-right: 10px;
  padding-left: 15px;
  /* background-color: #ffffff; */
}
.Emailwrap {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  /* background-color: #3E82FC; */
}
.Footerlast {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 1%;
  padding-top: 10%;
}
.highking {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: left;
  padding-right: 28%;
}
.highking-content {
  padding-top: 7%;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #5D616F;
}
.location {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 26px;
  width: 20%;
}
.contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 26px;
  width: 20%;
}
.legals {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 26px;
  width: 20%;
  /* background-color: #3e82fc; */
}
.highking-icons1
{
    width: 50px;
    height:50px;
    padding-right: 20px;
    cursor: pointer;
}
.highking-icons{
    display: flex;
    flex-direction: row;
    padding-top: 15%;
}
.linkshead
{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
}
.links
{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 25px;
    color: #5D616F;
    cursor: pointer;
}
.copyrights
{
    padding-top: 6%;
    padding-bottom: 3%;
    font-size: 20px;
    color: #5D616F;
}
@media screen and (max-width: 1310px) and (min-width: 320px) {
  .Navbar-rightSide {
    display: none;
  }
  .homePage-Leftside {
    width: 100%;
  }
}
